<nav class="purple darken-2">
<div class="nav-wrapper">
    <a href="#" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left">
        <li><a href="#">Books</a></li>
        <li><a href="#">User</a></li>
        <li><a href="#">Help</a></li>
    </ul>
</div>
</nav>
