    <ul id="side-menu" class="collapsible" data-collapsible="accordion">
        <li><a href='#' class="collapsible-header waves-effect waves-teal">About</a></li>
        <li><a href="#" class="collapsible-header waves-effect waves-teal">Getting Started</a></li>
        <li><a class="collapsible-header waves-effect waves-teal">CSS</a>
            <div class="collapsible-body">
                <ul>
                    <li><a href="#">Color</a></li>
                    <li><a href="#">Grid</a></li>
                    <li><a href="#">Helpers</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Sass</a></li>
                    <li><a href="#">Shadow</a></li>
                    <li><a href="#">Table</a></li>
                    <li><a href="#">Typography</a></li>
                </ul>
            </div>
        </li>
    </ul>
<script>

</script>