{% extends 'base.html.twig' %}

{% block body %}
    <div id='booklist'>
        <h1>Liste der Bücher:</h1>
        <div>
            <ul>
                {% for book in books %}
                    <li>{{ book.getTitle }}</li>
                {% else %}
                    <li><em> no books found</em>/li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <a href={{ path('book_new') }}>Add a book!</a>
        </div>
    </div>


{% endblock %}
