{% extends 'base.html.twig' %}

{% block body %}
    <div id='booklist'>
        <div>
            Liste der Bücher:
        </div>

        {% for book in books %}
            <div class="book">
                {{ book.title }}
            </div>
        {% endfor %}
    </div>

{% endblock %}
